<div class="container" style="min-height: 450px;">
    <div class="row justify-content-center" style="margin: 40px 0px;">
        <div class="col-12">
            <h2 class="section-headline text-center">
                <span>Το Καλάθι μου</span>
            </h2>
            <hr style="width: 50%;" />
        </div>
    </div>
    <div class="row" style="margin-top: 120px">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <a mat-raised-button color="primary" routerLink="/eventList">
                        Συνεχίστε τις Αγορές
                    </a>
                </div>
                <div class="col-sm-6 text-right">
                    <a *ngIf="!notEnoughStock" mat-raised-button color="primary" routerLink="/checkout">
                        Checkout
                    </a>
                    <a *ngIf="notEnoughStock" [disabled]="true" mat-raised-button color="primary">
                        Checkout
                    </a>
                </div>
            </div>
            <br/>
            <div *ngIf="cartItemUpdated" class="alert alert-success">
                Επιτυχής Ανανέωση Καλαθιού!
            </div>
            <div *ngIf="notEnoughStock" class="alert alert-warning">
                Επιλέξατε ποσότητα εισιτηρίων παραπάνω από τα διαθέσιμα. Παρακαλούμε ανανεώστε την ποσότητα.
            </div>
            <div *ngIf="emptyCart" class="alert alert-warning">
                Το Καλάθι σας έιναι άδειο!
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h4>
                        Εκδηλώσεις
                    </h4>
                </div>
                <div class="col-sm-2">
                    <h4>
                        Τιμή
                    </h4>
                </div>
                <div class="col-sm-2">
                    <h4>
                        Tickets
                    </h4>
                </div>
            </div>
            <div class="row" *ngFor="let cartItem of cartItemList">
                <hr/>
                <div class="col-sm-2">
                    <a mat-button (click)="onSelect(cartItem.event)">
                        <img class="img-fluid" src="{{serverPath}}/image/event/{{cartItem.event.id}}.png" style="width: 70px;" />
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="pointer" (click)="onSelect(cartItem.event)">
                        <h4>
                            {{ cartItem.event.name }}
                        </h4>
                    </a>
                    <p *ngIf="cartItem.event.availableTickets > 10" style="color: green;">
                        Διαθέσιμα Προϊόντα
                    </p>
                    <p *ngIf="cartItem.event.availableTickets <= 10 && cartItem.event.availableTickets > 0" style="color: orange;">
                        Μόνο {{ cartItem.event.availableTickets }} Εισιτήρια απομένουν
                    </p>
                    <p *ngIf="cartItem.event.availableTickets == 0" style="color: red;">
                        Δεν υπάρχουν διαθέσιμα προιόντα
                    </p>
                    <a mat-button class="pointer" color="primary" (click)="onRemoveCartItem(cartItem)">
                        Αφαιρέστε απο το Καλάθι
                    </a>
                </div>
                <div class="col-sm-2">
                    <h5>
                        {{ cartItem.event.price }} Πόντοι
                    </h5>
                </div>
                <div class="col-sm-2">
                    <input hidden="hidden" name="id" [(ngModel)]="cartItem.id" />
                    <input id="cartItem.id" name="qty" [disabled]="cartItem.event.availableTickets == 0" class="form-control cartItemQty" [(ngModel)]="cartItem.qty"
                        (ngModelChange)="cartItem.toUpdate = true" />
                    <a mat-button *ngIf="cartItem.toUpdate" class="pointer" color="warn" (click)="onUpdateCartItem(cartItem); onCheckout()">
                        Ανανέωση
                    </a>
                </div>
            </div>
            <hr/>
            <div class="row">
                <br/>
                <h4 class="col-sm-12 text-right">
                    <strong style="font-size: large">
                        Συνολική Τιμή
                        (<span>{{ cartItemNumber }}</span> event):
                    </strong>
                    <span>
                        {{ shoppingCart.grandTotal }} Πόντοι
                    </span>
                </h4>
            </div>
        </div>
    </div>
</div>
