<div class="container">
    <div class="table-responsive" style="margin-top: 30px;">
        <table id="userListTable" class="table bordered highlight">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" (change)="updateSelected($event.target.checked)" />
                    </th>
                    <th>
                        Όνομα
                    </th>
                    <th>
                        Επώνυμο
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Πόντοι Πορτοφολιού
                    </th>
                    <th>
                        Bonus Πόντοι Πορτοφολιού
                    </th>
                    <th>
                        Ενεργός
                    </th>
                    <th>
                        Ενέργειες
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList">
                    <td>
                        <input hidden="hidden" name="id" />
                        <input type="checkbox" [checked]="allChecked" (change)="updateRemoveUserList($event.target.checked, user)" />
                    </td>
                    <td>
                        <a (click)="onSelect(user)" style="cursor: pointer;">
                            {{ user.firstName }}
                        </a>
                    </td>
                    <td>
                        {{ user.lastName }}
                    </td>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.walletPoints }}
                    </td>
                    <td>
                        {{ user.bonusPoints }}
                    </td>
                    <td>
                        {{ user.enabled }}
                    </td>
                    <td>
                        <input hidden="hidden" name="id" />
                        <button mat-button (click)="openDialog(user)" value="delete">
                            <span class="fa fa-times"></span>
                            Διαγραφή
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button mat-raised-button color="warn" id="deleteSelected" (click)="removeSelectedUsers()">
        Διαγραφή Επιλεγμένων
    </button>
</div>
