<div class="container">
	<div class="table-responsive" style="margin-top: 30px;">
		<table id="userListTable" class="table bordered highlight">
			<thead>
				<tr>
					<th>
						<input type="checkbox" (change)="updateSelected($event.target.checked)" />
					</th>
					<th>Username</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Address</th>
					<th>Postal Code</th>
					<th>Telephone</th>
					<th>Email</th>
					<th>Locked</th>
					<th>Picture</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of userList">
					<td>
						<input hidden="hidden" name="id" />
						<input type="checkbox" [checked]="allChecked" (change)="updateRemoveUserList($event.target.checked, user)" />
					</td>
					<td>
						<a (click)="onSelect(user)" style="cursor:pointer">{{user.title}}</a>
					</td>
					<td>{{user.username}}</td>
					<td>{{user.firstName}}</td>
					<td>{{user.lastName}}</td>
					<td>{{user.address}}</td>
					<td>{{user.postalCode}}</td>
					<td>{{user.telephone}}</td>
					<td>{{user.email}}</td>
					<td>{{user.locked}}</td>
					<td>
						<input hidden="hidden" name="id" />
						<button md-button (click)="openDialog(user)" value="delete">
							<span class="fa fa-times"></span> delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<button md-raised-button class="mat-warn" id="deleteSelected" (click)="removeSelectedUsers()">Delete Selected</button>
</div>
