table {
    border-collapse: separate;
    border-spacing: 0;
    color: #4A4A4D;
    font: 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

th,
td {
    padding: 10px 15px;
    vertical-align: middle;
}

thead {
    background: #395870;
    color: #FFF;
}

th {
    font-weight: bold;
}

th:first-child {
    text-align: left;
}

tbody tr:nth-child(even) {
    background: #F0F0F2;
}

td {
    border-bottom: 1px solid #CECFD5;
    border-right: 1px solid #CECFD5;
}

td:first-child {
    border-left: 1px solid #CECFD5;
}

.book-title {
    color: #395870;
    display: block;
}

.item-stock,
.item-qty {
    text-align: center;
}

.item-price {
    text-align: right;
}

.item-multiple {
    display: block;
}

tfoot {
    text-align: right;
}

tfoot tr:last-child {
    background: #F0F0F2;
}
