<div class="container" style="min-height: 450px;">
    <div class="row justify-content-center" style="margin: 40px 0px;">
        <div class="col-12">
            <h2 class="section-headline text-center">
                <span>Events</span>
            </h2>
            <hr style="width: 50%;" />
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top:30px">
        <div class="col-12">
            <table class="table" id="myTable" [mfData]="eventList | dataFilter : description : selectedAge : selectedCategory: selectedMaxPrice : selectedZipcode" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
                [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                    <tr>
                        <th colspan="5">
                            <div class="row">
                                <div class="col-md-12" style=" background-color: #ededed;">
                                    Filter by Description:
                                    <input class="form-control" style="margin-bottom: 20px; text-align: center;" placeholder="Search" [(ngModel)]="description"/>
                                </div>
                                <form (ngSubmit)="onSearch()" class="form-inline navbar-form" style="margin-bottom:50px; background-color: #ededed;">

                                    <div class="row">
                                        <div class="col-sm-4" style="text-align: center; margin-bottom:10px; margin-top: 20px;">
                                            Date:
                                            <input class="form-control" type="date" name="date" [(ngModel)]="selectedDate">
                                            <br>
                                        </div>
                                        <div class="col-sm-4" style="text-align: center; margin-bottom:10px; margin-top: 20px;">
                                            Address:
                                            <input id="address" class="form-control" type="text" name="address" placeholder="Address" [(ngModel)]="selectedAddress">
                                            <br>
                                        </div>
                                        <div class="col-sm-4" style="text-align: center; margin-bottom:10px; margin-top: 20px;">
                                            Zipcode:
                                            <input id="zipcode" class="form-control" type="text" name="zipcode" placeholder="Zipcode" [(ngModel)]="selectedZipcode">
                                            <br>
                                        </div>
                                        <div class="col-sm-4" style="text-align: center; margin-bottom:15px;">
                                            Ages:
                                            <input id="age" class="form-control" type="number" name="age"  [(ngModel)]="selectedAge">
                                        </div>
                                        <div class="col-sm-4" style="text-align: center; margin-bottom:15px;">
                                            Maximum Price:
                                            <input id="maxprice" class="form-control" type="number" name="maxprice" style="width: 100px;" step="0.01" [(ngModel)]="selectedMaxPrice">
                                        </div>
                                        <div class="col-sm-4" style="text-align: center; margin-bottom:15px;">
                                            Categories:
                                            <select [(ngModel)]="selectedCategory" name="categories">
                                                  <option *ngFor="let category of categories" [ngValue]="category.name">{{category.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-sm-5"></div>
                                    <div class="col-sm-2" style="text-align: center; margin-bottom: 20px">
                                        <button class="form-control" type="submit" class="btn btn-default" style="background-color: pink">Add to Map!</button>
                                    </div>
                                    <div class="col-sm-5"></div>
                                </form>
                                <div class="container">

                                  <div>
                                    <br>
                                    <div class="row">
                                      <div class="col-md-2"></div>
                                      <div class="col-md-8" style="text-align: center;">
                                        <div class="text-center">
                                          <h3>
                                            <div #gmap style="width:100%;height:350px"></div>
                                          </h3>
                                        </div>
                                      </div>
                                      <div class="col-md-2"></div>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="label-control">
                                        Rows on page
                                    </label>
                                    <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                                        <option [ngValue]="5">5</option>
                                        <option [ngValue]="10">10</option>
                                        <option [ngValue]="15">15</option>
                                    </select>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of mf.data">
                        <div class="row" style="margin-bottom: 30px;">
                            <div class="col-md-3">
                                <a (click)="onSelect(event)" style="cursor:pointer">
                                    <img class="img-fluid" src="{{serverPath}}/image/event/{{event.id}}.png" />
                                </a>
                            </div>
                            <div class="col-md-9">
                                <h4 (click)="onSelect(event)" style="margin-top: 20px; cursor:pointer">
                                    {{event.name}} -
                                    <span *ngIf="event.availableTickets==0 || event.availableTickets<0" style="color: red;">
                                        SOLD OUT!
                                    </span>
                                </h4>
                                <span>
                                    <strong>Category:</strong>
                                    {{event.category}}
                                </span>
                                <br/>
                                <span>
                                    <strong>Address:</strong>
                                    {{event.address}}
                                </span>
                                <span> - </span>
                                <span>
                                    <strong>Zipcode:</strong>
                                    {{event.zipcode}}
                                </span>
                                <br/>
                                <span>
                                    <strong>Start Date:</strong>
                                    {{event.startDate}}
                                </span>
                                <span> - </span>
                                <span>
                                    <strong>End Date:</strong>
                                    {{event.endDate}}
                                </span>
                                <br/>
                                <span>
                                    <strong>Start Time:</strong>
                                    {{event.startTime}}
                                </span>
                                <span> - </span>
                                <span>
                                    <strong>End Time:</strong>
                                    {{event.endTime}}
                                </span>
                                <br/>
                                <span>
                                    <strong>Ticket Price:</strong>
                                    {{event.price | number: '1.2-2'}} $
                                </span>
                                <span> - </span>
                                <span>
                                    <strong>Available Ticket:</strong>
                                    <span *ngIf="event.availableTickets==0 || event.availableTickets<0" style="color: red;">
                                        SOLD OUT!
                                    </span>
                                    <span *ngIf="event.availableTickets>0" >
                                        {{event.availableTickets}}
                                    </span>
                                </span>
                                <br/>
                                <span>
                                    <strong>Minimum Age:</strong>
                                    {{event.minAge }}
                                </span>
                                <span> - </span>
                                <span>
                                    <strong>Maximum Age:</strong>
                                    {{event.maxAge}}
                                </span>
                                <br/>
                                <span>
                                    <strong>Description:</strong>
                                    {{event.description | slice:0:500}}
                                </span>
                            </div>
                        </div>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 11]">
                            </mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
