# dependencies
node_modules

# logs
*.log

# OS
.DS_Store

# IDE
.idea
*.swp
*.swo

# compiled
dist
app/css
app/fonts
app/assets

# maven output
api/target/

# eclipse
api/.classpath
api/.project
api/.settings/
