# dependencies
node_modules

# logs
*.log

# OS
.DS_Store

# IDE
.idea
*.swp
*.swo
## eclipse
api/.classpath
api/.project
api/.settings/

# compiled
## npm
dist
app/css
app/fonts
app/assets
## mvn
api/target/
/nbproject/private/
# nbproject
nbproject/
