/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

.box {
  border: 1px solid black;
}

hr {
  border: none;
  height: 1px;
  color: #333;
  background-color: #333;
}

body {
  font-family: Tahoma, Serif;
  margin: 0;
}

mat-form-field {
  padding-top: 10px;
  width: 100%;
}

mat-select {
  width: 100%;
}

mat-slide-toggle {
  width: 100%;
}

.container {
  width: 90%;
  margin: auto;
}

.full-width {
  width: 100%;
}

.primary {
  color: white;
}
