<div class="container">
    <div [hidden]="userAdded">
        <h3 style="margin-top: 30px;">New User Information
            <span style="font-size:small">* is a required field</span>
        </h3>

        <form (ngSubmit)="onSubmit()">
            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="firstName" type="text" required [(ngModel)]="newUser.firstName" name="firstName" placeholder="First Name">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="lastName" type="text" required [(ngModel)]="newUser.lastName" name="lastName" placeholder="Last Name">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="username" type="text" required [(ngModel)]="newUser.username" name="username" placeholder="Username">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="email" type="text" required [(ngModel)]="newUser.email" name="email" placeholder="Email">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="password" type="text" required [(ngModel)]="newUser.password" name="password" placeholder="Password">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="walletPoints" type="number" required [(ngModel)]="newUser.walletPoints" name="walletPoints" placeholder="Wallet Points">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="bonusPoints" type="number" required [(ngModel)]="newUser.bonusPoints" name="bonusPoints" placeholder="Bonus Points">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    &nbsp;
                    <mat-slide-toggle [color]="color" [checked]="checked" [disabled]="disabled" [(ngModel)]="newUser.enabled" name="enabled">Enabled</mat-slide-toggle>
                </mat-grid-tile>
            </mat-grid-list>
            <br>
            <br>
            <mat-grid-list cols="20" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <button class="mat-primary" mat-raised-button type="submit">Add User</button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <a class="mat-warn" mat-raised-button routerLink="/">Cancel</a>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </div>
    <div class="row" [hidden]="!userAdded">
        <h3>User added successfully!</h3>
    </div>
</div>
