<div class="container">
    <div [hidden]="userAdded">
        <h3 style="margin-top: 30px;">Πληροφορίες Νέου Χρήστη
        </h3>

        <form (ngSubmit)="onSubmit()">
            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="firstName" type="text"  [(ngModel)]="newUser.firstName" name="firstName" placeholder="Όνομα">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="lastName" type="text"  [(ngModel)]="newUser.lastName" name="lastName" placeholder="Επώνυμο">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="username" type="text"  [(ngModel)]="newUser.username" name="username" placeholder="Username">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="password" type="text"  [(ngModel)]="newUser.password" name="password" placeholder="Password">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="email" type="text"  [(ngModel)]="newUser.email" name="email" placeholder="Email">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="role" type="number"  [(ngModel)]="newUser.password" name="role" placeholder="Ρόλοι - Admins: 3, Πάροχοι: 2, Γονείς: 1">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="walletPoints" type="number"  [(ngModel)]="newUser.walletPoints" name="walletPoints" placeholder="Πόντοι Πορτοφολιού">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="bonusPoints" type="number"  [(ngModel)]="newUser.bonusPoints" name="bonusPoints" placeholder="Bonus Πόντοι Πορτοφολιού">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    &nbsp;
                    <mat-slide-toggle [color]="color" [checked]="checked" [disabled]="disabled" [(ngModel)]="newUser.enabled" name="enabled">Ενεργός</mat-slide-toggle>
                </mat-grid-tile>
            </mat-grid-list>
            <br>
            <br>
            <mat-grid-list cols="20" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <button class="mat-primary" mat-raised-button type="submit">Προσθήκη</button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <a class="mat-warn" mat-raised-button routerLink="/">Ακύρωση</a>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </div>
    <div class="row" [hidden]="!userAdded">
        <h3>Ο Χρήστης προστέθηκε επιτυχώς!</h3>
    </div>
</div>
