<div class="container" style="min-height: 450px;">
    <div class="row justify-content-center" style="margin: 40px 0px;">
        <div class="col-12">
            <h2 class="section-headline text-center">
                <span>Checkout</span>
            </h2>
            <hr style="width: 50%;" />
        </div>
    </div>
    <div class="row" style="margin-top: 80px;">
        <form (ngSubmit)="onValidate();" method="post" style="display: contents;">
            <div class="col-sm-5">
                <div class="card card-default">
                    <div class="card-body">
                        <h3 style="text-align: center">Σύνοψη Αγοράς</h3>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-7 text-left">
                                Συνολικοί Πόντοι:
                            </div>
                            <div class="col-sm-5 text-right">
                                <span>{{shoppingCart.gradTotal}}</span>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-7 text-left">
                                <h4 style="text-decoration: underline">
                                    <strong>Σύνολο σε Ευρώ:</strong>
                                </h4>
                            </div>
                            <div class="col-sm-5 text-right">
                                <h4>
                                    <strong style="color: green;">
                                        <span>{{shoppingCart.gradTotal | number : '1.2-2'}}</span>€
                                    </strong>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div *ngIf="missingRequiredField">
                    <h5 class="alert alert-warning">
                        Required Fields (*) Missing.
                    </h5>
                </div>
                <mat-card>
                    <mat-tab-group (selectedIndexChange)="selectedChange($event)" [selectedIndex]="selectedTab">
                        <mat-tab label="Πορτοφόλι">
                            <div class="card card-default">
                                <div class="card-heading">
                                    <h4 class="card-title text-center" style="padding-top: 20px;">
                                        Διαθέσιμοι Πόντοι
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <table class="table" *ngIf="!emptyPaymentList">
                                        <thead>
                                            <tr>
                                                <th>Πόντοι</th>
                                                <th>Bonus Πόντοι</th>
                                                <th>Συνολικοί Πόντοι</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    {{user.walletPoints}}
                                                </td>
                                                <td>
                                                    {{user.bonusPoints}}
                                                </td>
                                                <td>
                                                    {{user.walletPoints + user.bonusPoints}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a mat-raised-button="mat-raised-button" class="mat-primary" (click)="onWallet()">Πορτοφόλι</a>
                                    <a mat-raised-button="mat-raised-button" class="mat-primary" style="float: right;" (click)="goToReview()">Επόμενο</a>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Επισκόπηση">
                            <div class="card card-default">
                                <div class="card-heading">
                                    <h4 class="card-title text-center" style="padding-top: 20px;">
                                        Επισκόπηση Αγοράς
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <h6>Εκδηλώσεις</h6>
                                        </div>
                                        <div class="col-sm-2">
                                            <h6>Τιμή</h6>
                                        </div>
                                        <div class="col-sm-3">
                                            <h6>Εισιτήρια</h6>
                                        </div>
                                    </div>
                                    <div class="row" *ngFor="let cartItem of cartItemList">
                                        <hr/>
                                        <div class="col-sm-2">
                                            <a mat-button="mat-button" (click)="onSelect(cartItem.event)">
                                                <img class="img-fluid shelf-event" src="/Users/konstantinos/candyland-app/backend/src/main/resources/static/image/event/image/event/{{cartItem.event.id}}.png" style="width:70px;" />
                                            </a>
                                        </div>
                                        <div class="col-sm-5">
                                            <a class="pointer" (click)="onSelect(cartItem.event)">
                                                <h6>{{cartItem.event.name}}</h6>
                                            </a>
                                            <p *ngIf="cartItem.event.availableTickets > 10" style="color: green;">Σε Διαθεσιμότητα</p>
                                            <p *ngIf="cartItem.event.availableTickets < 10 && cartItem.event.availableTickets > 0" style="color: green;">
                                                Μόνο
                                                <span>{{cartItem.event.availableTickets}}</span>
                                                σε Διαθεσιμότητα
                                            </p>
                                            <p style="color: red;" *ngIf="cartItem.event.availableTickets==0">Μη Διαθέσιμα Εισιτήρια</p>
                                        </div>
                                        <div class="col-sm-2">
                                            <h5 style="color: green; font-size: large;">
                                                <span [ngClass]="{'text-strike': cartItem.event.availableTickets == 0 }">{{cartItem.event.price}}</span>€
                                            </h5>
                                        </div>
                                        <div class="col-sm-3 text-center">
                                            <h5 style="font-size: large">{{cartItem.qty}}</h5>
                                        </div>
                                    </div>
                                    <hr/>
                                    <h4 class="col-sm-12 text-right">
                                        <strong class="text-center" style="font-size: large">
                                            Συνολική Τιμή:
                                        </strong>
                                        <span style="color: green; font-size: large;">
                                            <span>{{shoppingCart.gradTotal}}</span>€
                                        </span>
                                    </h4>
                                    <br/>
                                    <br/>
                                    <button mat-raised-button="mat-raised-button" [disabled]="processingCheckout" type="submit" class="btn-block mat-primary">Αγορά!
                                    </button>
                                    <div class="alert alert-warning" *ngIf="hideButton" style="margin-top: 10px">
                                        <strong>Δεν έχετε αρκετούς πόντους στο λογαριασμό σας!</strong>
                                    </div>
                                    <div class="alert alert-success" *ngIf="processingCheckout" style="margin-top: 10px">
                                        <strong>Η παραγγελία σας βρίσκεται σε επεξεργασία. Παρακαλώ περιμένετε!</strong>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card>
            </div>
        </form>
    </div>
</div>
