<div class="container" style="min-height: 450px;">
    <div class="row justify-content-center" style="margin: 40px 0px;">
        <div class="col-12">
            <h2 class="section-headline text-center">
                <span>Καλωσορίσατε στο Πορτοφόλι σας!</span>
            </h2>
            <hr style="width: 50%;" />
        </div>
    </div>
    <br>
    <div style="margin-top: 0px;">
        <!-- <div class="col-sm-1"></div> -->
        <div *ngIf="dataFetched">
            <div style="overflow: hidden">
                <div class="card" style="background-color: #ededed">
                    <div class="card-body">
                        <form (ngSubmit)="onUpdateUserInfo()">
                                    <div class="col-sm-12">
                                        <div class="points-text">Αυτήν τη στιγμή έχετε {{ this.user.walletPoints + this.user.bonusPoints }} Πόντους στο λογαριασμό σας!</div>
                                    </div>
                                    <div class="col-sm-12" id="custom">
                                            <div style="text-align: center; color: #BF032D; font-size: 130%; margin-bottom: 20px; margin-left: 20%">Χρειάζεστε άλλους {{pointsNeeded}} Πόντους για να κερδίσετε +10!
                                            </div>
                                            <div class="popup" (click)="showInfo()">
                                                <img src="../../../assets/grey-info.png" style="width:20px;">
                                                <span class="popuptext" id="myPopup">Για κάθε 100€ που ξοδεύετε κερδίζετε 10 πόντους ακόμη!</span>

                                        </div>
                                    </div>
                                    <input type="hidden" name="id" [(ngModel)]="user.id" />

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label for="walletPoints">Βάλτε Πόντους στο λογαριασμό σας </label>
                                                <input type="number" class="form-control" id="walletPoints"
                                                    name="walletPoints" [(ngModel)]="addedPoints" />
                                            </div>
                                        </div>
                                    </div>

                                    <button mat-raised-button type="submit" style="background-color: pink; margin-left: 10px;" id="updateUserInfoButton">Προσθήκη</button>
                                    <div class="popup" (click)="showInfo()">
                                        <img src="../../../assets/grey-info.png" style="width:20px;">
                                        <span class="popuptext" id="myPopup">Το ποσό που θα ενταχθεί θα αφαιρεθεί από το λογαριασμό που έχει οριστεί στο account σας. Για να αλλάξετε
                                            το λογαριασμό πηγαινετε My Account και αλλάξτε τον από εκεί. Η αναλογία Πόντων/Ευρώ είναι 1:1</span>
                                    </div>
                                    <div style="text-align: left; color: #FF236D; font-size: 130%; margin-bottom: 20px;"  *ngIf="noCards">
                                        Δεν έχετε τοποθετήσει κάποια κάρτα στο λογαριασμό σας. Κατευθυνθείτε στο προφίλ σας για να προσθέσεται κάρτα!
                                    </div>
                                    <div style="text-align: left; color: #FF236D; font-size: 130%; margin-bottom: 20px;" *ngIf="notPositive">
                                        Ο αριθμός πόντων που προσθέσατε δεν είναι θετικός.
                                    </div>
                                    <div style="text-align: left; color: #FF236D; font-size: 130%; margin-bottom: 20px;" *ngIf="bonus">
                                        Συγχαρητήρια κερδίσατε {{ bonusPoints * 10}} Πόντους.
                                    </div>
                                </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
</div>
