<div class="container" style="min-height: 450px;">
    <div class="row justify-content-center" style="margin: 40px 0px;">
        <div class="col-12">
            <h2 class="section-headline text-center">
                <span>Welcome to your Wallet!</span>
            </h2>
            <hr style="width: 50%;" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="points-text">Αυτήν τη στιγμή έχετε {{points}} πόντους στο λογαριασμό σας!</div>
        </div>
        <form (ngSubmit)="doSomething()" class="form-inline" style="margin-bottom:50px; margin: 0 auto;">
            <div style="text-align: center;">
                Εισάγεται Πόντους στο λογαριασμό σας:
                <input type="number" name="points" style="width: 80px;">
                <br>
            </div>
            <button type="submit" class="btn btn-default" style="background-color: pink; margin-left: 20px;">Add Points</button>
            <div class="popup" (click)="showInfo()">
                <img src="../../../assets/grey-info.png" style="width:20px;">
                <span class="popuptext" id="myPopup">Το ποσό που θα ενταχθεί θα αφαιρεθεί από το λογαριασμό που έχει οριστεί στο account σας. Για να αλλάξετε
                    το λογαριασμό πηγαινετε My Account και αλλάξτε τον από εκεί. Η αναλογία Πόντων/Ευρώ είναι 1:1</span>
            </div>
        </form>
    </div>
    <br/>
    <br/>
</div>
