<div class="container">
    <div style="margin-top: 20px;">
        <a routerLink="/userList"><i class="fa fa-long-arrow-left"></i>Return</a>
        <span> / </span>
        <a (click)="onSelect(user)" style="cursor: pointer">
            Επεξεργασία
        </a>
    </div>
    <mat-grid-list cols="12" rowHeight="100px">
        <mat-grid-tile [colspan]="2">
            <h3>
                Username: {{ user.username }}
            </h3>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="3">
            <mat-list>
                <mat-list-item>
                    <p>
                        <strong>
                            Όνομα:
                        </strong>
                        {{ user.firstName }}
                    </p>
                </mat-list-item>

                <mat-list-item>
                    <p>
                        <strong>
                            Email:
                        </strong>
                        {{ user.email }}
                    </p>
                </mat-list-item>

                <mat-list-item>
                    <p>
                        <strong>
                            Bonus Πόντοι Πορτοφολιού:
                        </strong>
                        {{ user.bonusPoints }}
                    </p>
                </mat-list-item>

            </mat-list>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="3">
            <mat-list>
                <mat-list-item>
                    <p>
                        <strong>
                            Επώνυμο:
                        </strong>
                        {{ user.lastName }}
                    </p>
                </mat-list-item>

                <mat-list-item>
                    <p>
                        <strong>
                            Πόντοι Πορτοφολιού:
                        </strong>
                        {{ user.walletPoints }}
                    </p>
                </mat-list-item>

                <mat-list-item>
                    <p>
                        <strong>
                            Ενεργός:
                        </strong>
                        {{ user.enabled }}
                    </p>
                </mat-list-item>
            </mat-list>
        </mat-grid-tile>
    </mat-grid-list>
</div>
