<div class="container">
  <div [hidden]="loggedIn">
    <mat-grid-list cols="6" [style.margin-top]="'20px'">
      <mat-grid-tile [colspan]="1"></mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <div *ngIf="loginError" style="color: red;">
            Λάθος username ή password.
        </div>
        <form (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width">
            <input matInput type="text" [(ngModel)]="credential.username" name="username" id="username" placeholder="Username">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="password" [(ngModel)]="credential.password" name="password" id="password" placeholder="Password">
          </mat-form-field>
          <button mat-raised-button type="submit" color="primary">
            Είσοδος
          </button>
        </form>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div style="margin-top: 5rem; margin-left: 5rem" [hidden]="!loggedIn">
    <h2>Καλωσήρθατε στο Provider-Portal</h2>
    <h4>Κάντε κλικ από κατω για να πάτε στις Εκδηλώσεις σας!</h4>
    <a mat-raised-button type="submit" color="primary" *ngIf="!banned" href="/eventList">Εκδηλώσεις</a>
  </div>
</div>
