<div class="container">
  <div [hidden]="loggedIn">
    <mat-grid-list cols="6" [style.margin-top]="'20px'">
      <mat-grid-tile [colspan]="1"></mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <div *ngIf="loginError" style="color: red;">
            Λάθος username ή password.
        </div>
        <form (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width">
            <input matInput type="text" [(ngModel)]="credential.username" name="username" id="username" placeholder="Your Username">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="password" [(ngModel)]="credential.password" name="password" id="password" placeholder="Your Password">
          </mat-form-field>
          <button mat-raised-button type="submit" color="primary">
            Login
          </button>
        </form>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="!loggedIn">
    <a mat-raised-button type="submit" color="primary" *ngIf="!banned" href="http://localhost:4200/eventList">Go to your Events</a>
  </div>
</div>
