<div class="container">
    <div class="row justify-content-center" style="margin: 40px 0px;">
        <div class="col-12">
            <h2 class="section-headline text-center">
                <span>Welcome to Candyland!</span>
            </h2>
            <hr style="width: 50%;" />
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 24rem;">
                <img class="card-img-top" src="../../../assets/mother.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-center">As a working mother, I often struggle to find a nanny to take care of my child. Candyland allows me to
                        find entertaining events from trustworthy providers for my child while I'm at work</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 24rem;">
                <img class="card-img-top" src="../../../assets/father.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-center">Growing up children on your own can be a challenge. Thanks to the Candyland Team I can now bond with
                        my kids by easily finding fun activities around my area!</p>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <h3 class="text-center">Useful Links</h3>
    <hr style="width: 50%;" />
    <br/>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <a class="pointer" routerLink="/bookList">
                    <img class="card-img-top" src="../../../assets/events.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                    <p class="card-text text-center">All Events</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <a class="pointer" routerLink="/hours">
                    <img class="card-img-top" src="../../../assets/hours.png" alt="Card image cap">
                </a>
                <div class="card-body">
                    <p class="card-text text-center">Contact Hours</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <a class="pointer" routerLink="/faq">
                    <img class="card-img-top" src="../../../assets/faq.png" alt="Card image cap">
                </a>
                <div class="card-body">
                    <p class="card-text text-center">FAQ</p>
                </div>
            </div>
        </div>
    </div>
</div>
