<div class="container">
<div class="row">
    <div class="col-sm-8">
        <h2 class="section-headline">
            <span>
                Home
            </span>
        </h2>
    </div>
    <div class="col-sm-4">
        <img src="../../../assets/logo.png" class="img-fluid logo">
    </div>
    <img src="../../../assets/background.png" class="img-fluid background">
</div>
<h3 class="text-center">This Week's Featured Events!</h3>
<hr/>
<br/>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="../../../assets/event1.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Featured Event A</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="../../../assets/event2.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Featured Event B</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="../../../assets/event3.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Featured Event C</p>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="../../../assets/event4.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Featured Event D</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="../../../assets/event5.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Featured Event E</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="../../../assets/event6.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Featured Event F</p>
            </div>
        </div>
    </div>
</div>
</div>
