<div class="container" style="min-height: 450px;">
    <div class="row justify-content-center" style="margin: 40px 0px;">
        <div class="col-12">
            <h2 class="section-headline text-center">
                <span>Είσοδος</span>
            </h2>
            <hr style="width: 50%;" />
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top:30px">
        <div class="col-sm-8">
            <div class="card" style="background-color:#ededed;">
                <div class="card-body">
                    <mat-tab-group>
                        <mat-tab label="Είσοδος">
                            <div style="margin-top: 20px">
                                <div *ngIf="loginError" style="color: red;">
                                    Λάθος username ή password.
                                </div>
                                <form (ngSubmit)="onLogin()">
                                    <div class="form-group">
                                        <label for="username">
                                            Username *
                                        </label>
                                        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="credential.username" required="required"
                                            autofocus="autofocus">
                                        <p style="color:#828282;">Εισάγετε Username</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">
                                            Password *
                                        </label>
                                        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="credential.password" required="required"
                                            autofocus="autofocus">
                                        <p style="color:#828282;">Εισάγετε Password</p>
                                    </div>
                                    <button mat-raised-button type="submit" color="primary">Είσοδος</button>
                                </form>
                            </div>
                        </mat-tab>
                        <mat-tab label="Νέος Λογαριασμός">
                            <div style="margin-top: 20px;">
                                <div class="alert alert-info" *ngIf="emailSent">Σας στάλθηκε email στην εγγεγραμμένη διεύθυνση. Παρακαλείστε να επαληθεύσετε τη διεύθυνση ώστε να μπείτε στο λογαριασμό σας και να ανανεώσεται το κωδικό σας (password).
                                </div>
                                <form (ngSubmit)="onNewAccount()">
                                    <div class="form-group">
                                        <label for="newUsername">
                                            Username *
                                        </label>&nbsp;
                                        <span *ngIf="usernameExists" style="color: red;">
                                            To Username χρησιμοποιείται. Επιλέξτε διαφορετικό!
                                        </span>
                                        <input type="text" class="form-control" id="newUsername" name="username" [(ngModel)]="username" required="required">
                                        <p style="color: #828282">Εισάγετε Username</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">
                                            Email Address *
                                        </label>&nbsp;
                                        <span *ngIf="emailExists" style="color: red;">
                                            To Email χρησιμοποιείται. Επιλέξτε διαφορετικό!
                                        </span>
                                        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required="required">
                                        <p style="color: #828282">Εισάγετε Email. Όλα τα μηνύματα θα στέλνονται σε αυτό.</p>
                                    </div>
                                    <button mat-raised-button type="submit" color="primary">Δημιουργία</button>
                                </form>
                            </div>
                        </mat-tab>
                        <mat-tab label="Ξέχασα τον κωδικό μου">
                            <div style="margin-top: 20px;">
                                <div class="alert alert-warning" *ngIf="emailNotExists">Το Email δεν υπάρχει.</div>
                                <div class="alert alert-success" *ngIf="forgetPasswordEmailSent">Recovery email στάλθηκε.</div>
                                <form (ngSubmit)="onForgetPassword()">
                                    <div class="form-group">
                                        <label for="recoverEmail">
                                            Your Email Address *
                                        </label>
                                        <input type="email" class="form-control" id="recoverEmail" name="recoverEmail" [(ngModel)]="recoverEmail" required="required">
                                        <p style="color: #828282">Εισάγετε το εγγεγραμμένο Email σας.</p>
                                    </div>
                                    <button mat-raised-button type="submit" color="primary">Submit</button>
                                </form>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>
