<mat-toolbar color="primary">
  <h3>
    Provider Portal
  </h3>
  <span class="example-padding"></span>
  <span [hidden]="!loggedIn">
    <a mat-button routerLink="/report">
      Report Εκδηλώσεων
    </a>
  </span>
  <span [hidden]="!loggedIn">
    <a mat-button routerLink="/eventList">
      Λίστα Εκδηλώσεων
    </a>
  </span>
  <span [hidden]="!loggedIn">
    <a mat-button routerLink="/addNewEvent">
      Προσθήκη
    </a>
  </span>
  <span [hidden]="!loggedIn">
    <a mat-button (click)="logout()">
      Έξοδος
    </a>
  </span>
</mat-toolbar>
