<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand pointer" routerLink="/home">
                <img src="../../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> Candyland
            </a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a mat-button style="text-decoration: none;" routerLink="/eventList">Εκδηλώσεις</a>
                </li>
                <li>
                    <a mat-button style="text-decoration: none;" routerLink="/faq">FAQ</a>
                </li>
                <li>
                    <a mat-button style="text-decoration: none;" routerLink="/team">Η Ομάδα</a>
                </li>
                <li *ngIf="loggedIn">
                    <a mat-button style="text-decoration: none;" routerLink="/wallet">Πορτοφόλι</a>
                </li>
                <li *ngIf="loggedIn">
                    <a mat-button style="text-decoration: none;" routerLink="/shoppingCart">Καλάθι</a>
                </li>
                <li *ngIf="loggedIn">
                    <a mat-button style="text-decoration: none;" routerLink="/myProfile">Το Προφίλ μου</a>
                </li>
                <li *ngIf="loggedIn">
                    <a mat-button style="text-decoration: none;" (click)="logout()">Έξοδος</a>
                </li>
                <li *ngIf="!loggedIn">
                    <a mat-button style="text-decoration: none;" routerLink="/myAccount" class="myacc">Είσοδος</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
