<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
        <a class="navbar-brand pointer" routerLink="/home">
            <img src="../../assets/logo.png" width="30" height="30"
                class="d-inline-block align-top" alt="Logo">
            Candyland
        </a>

      <ul class="mx-auto navbar-nav">
        <li>
            <a mat-button routerLink="/eventList">Εκδηλώσεις</a>
        </li>
        <form (ngSubmit)="onSearchByTitle()" class="form-inline">
            <div class="form-group">
                <input type="search" name="searchByTitle" [(ngModel)]="keyboard"
                    class="form-control mr-sm-2"
                    placeholder="Αναζήτηση Εκδηλώσεων"/>
                <button type="submit" class="btn btn-outline-success
                    my-2 my-sm-0">Αναζήτηση</button>
            </div>
        </form>
      </ul>

      <!-- Button for when the elements need to collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="navbarNav"
          aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li *ngIf="!loggedIn" class="nav-item">
                  <a mat-button routerLink="/myAccount"
                    class="nav-link">Ο λογαριασμός μου</a>
              </li>
            <li class="nav-item">
                <a mat-button routerLink="/team" class="nav-link">
                    Η ομάδα μας</a>
            </li>
            <li class="nav-item">
                <a mat-button class="nav-link" routerLink="/faq">FAQ</a>
            </li>
		    <li class="nav-item">
                <a mat-button class="nav-link" routerLink="/map">Map-Demo</a>
            </li>
            <li *ngIf="loggedIn" class="nav-item">
                <a mat-button class="nav-link"
                    routerLink="/shoppingCart">Πορτοφόλι</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a mat-button class="nav-link" routerLink="/myProfile">
              Το Προφίλ μου</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a mat-button class="nav-link" (click)="logout()">Έξοδος</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
