<div class="page-top" style="width: 100%; height: 20px; background-color: #f46b42"></div>

<nav class="navbar navbar-default navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand pointer" routerlink="/home">Candyland</a>
		</div>

		<div id="navbar">
			<ul class="nav navbar-nav navbar-left">
				<li>
					<a md-button="md-button" routerlink="/eventList">Events</a>
				</li>
				<form (ngsubmit)="onSearchByTitle()" class="navbar-form">
					<div class="form-group">
						<input type="text" name="searcyByTitle" [(ngmodel)]="keyword" class="form-control" placeholder="event Title"/>
					</div>
					<button type="submit" class="btn btn-default">Search</button>
				</form>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li *ngif="!loggedIn">
					<a md-button="md-button" routerlink="/myAccount">My Account</a>
				</li>
				<li *ngif="loggedIn">
					<a md-button="md-button" routerlink="/orderViewer">View Orders</a>
				</li>
				<li *ngif="loggedIn">
					<a md-button="md-button" routerlink="/myProfile">Profile</a>
				</li>
				<li *ngif="loggedIn">
					<a md-button="md-button" (click)="logout()">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
