body {
    font-family: 'Cardo', serif;
}

.navbar-light {
    background-color: #fde5a0;
}

.myacc {
    margin-left: 1em;
}

.evnt {
    margin-right: 1em;
}

input {
    width: 400px;
    padding: 0 12px;
}

input,
input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 3;
}
