body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.navbar-fixed-bottom,
.navbar-fixed-top,
body {
	min-width: 970px;
}

.lead {
	font-size: 16px;
}

.page-header {
	margin-bottom: 30px;
}

.page-header .lead {
	margin-bottom: 10px;
}

.container {
	width: 970px;
	max-width: none !important;
}

.col-xs-4 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.container .navbar-collapse,
.container .navbar-header {
	margin-right: 0;
	margin-left: 0;
}

.navbar-header {
	float: left;
}

.navbar-collapse {
	display: block !important;
	visibility: visible !important;
	overflow: visible !important;
	height: auto !important;
	padding-bottom: 0;
}

.navbar-toggle {
	display: none;
}

.navbar-collapse {
	border-top: 0;
}

.navbar-brand {
	margin-left: -15px;
}

.navbar-nav {
	float: left;
	margin: 0;
}

.navbar-nav > li {
	float: left;
}

.navbar-nav > li > a {
	padding: 15px;
}

.navbar-nav.navbar-right {
	float: right;
}

.navbar .navbar-nav .open .dropdown-menu {
	position: absolute;
	float: left;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-width: 0 1px 1px;
	border-radius: 0 0 4px 4px;
	background-color: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #333;
}

.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > li > a:hover {
	color: #fff !important;
	background-color: #428bca !important;
}

.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover {
	color: #999 !important;
	background-color: transparent !important;
}

.navbar-form {
	float: left;
	width: auto;
	margin-right: 0;
	margin-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar-form .form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.navbar-form .form-control {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

.navbar-form .form-control-static {
	display: inline-block;
}

.navbar-form .input-group {
	display: inline-table;
	vertical-align: middle;
}

.navbar-form .input-group .form-control,
.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn {
	width: auto;
}

.navbar-form .input-group > .form-control {
	width: 100%;
}

.navbar-form .control-label {
	margin-bottom: 0;
	vertical-align: middle;
}

.navbar-form .checkbox,
.navbar-form .radio {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: middle;
}

.navbar-form .checkbox label,
.navbar-form .radio label {
	padding-left: 0;
}

.navbar-form .radio input[type='radio'],
.navbar-form .checkbox input[type='checkbox'] {
	position: relative;
	margin-left: 0;
}

.navbar-form .has-feedback .form-control-feedback {
	top: 0;
}

.form-inline .form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.form-inline .form-control {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

.form-inline .form-control-static {
	display: inline-block;
}

.form-inline .input-group {
	display: inline-table;
	vertical-align: middle;
}

.form-inline .input-group .form-control,
.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn {
	width: auto;
}

.form-inline .input-group > .form-control {
	width: 100%;
}

.form-inline .control-label {
	margin-bottom: 0;
	vertical-align: middle;
}

.form-inline .checkbox,
.form-inline .radio {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: middle;
}

.form-inline .checkbox label,
.form-inline .radio label {
	padding-left: 0;
}

.form-inline .radio input[type='radio'],
.form-inline .checkbox input[type='checkbox'] {
	position: relative;
	margin-left: 0;
}

.form-inline .has-feedback .form-control-feedback {
	top: 0;
}
