<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<h2 class="section-headline">
				<span> Who are we? </span>
			</h2>
		</div>
		<div class="col-sm-4">
			<img src="../../../assets/logo.png" class="img-fluid"
				style="width: 400px; z-index: 2;">
		</div>
		<img src="../../../assets/background.png" class="img-fluid"
			style="width: 65%; position: absolute; margin-top: 90px; z-index: -2;">
	</div>
	<h3 class="text-center">The Candyland Team</h3>
	<hr style="width: 50%;" />
	<br />
	<div style="text-align: center">
		<p>
			<a href="https://github.com/georgebax/"> <img style="border-radius: 50%" border="0"
				alt="gbax"
				src="https://avatars1.githubusercontent.com/u/19195396?s=400&v=4"
				width="300" height="300">
			</a>
			<br>
			Γιώργος Μπαξόπουλος - 03113021
			<br>
		</p>
		<p>
			<a href="https://github.com/klauscfhq/"> <img style="border-radius: 50%" border="0"
				alt="klaus"
				src="https://avatars2.githubusercontent.com/u/12670537?s=400&v=4"
				width="300" height="300">
			</a>
			<br>
			Κλαούντιο Σινάνι - 03113623
			<br>
		</p>
		<p>
			<a href="https://github.com/tsikos7/"> <img style="border-radius: 50%" border="0"
				alt="tsikos"
				src="https://avatars0.githubusercontent.com/u/24499401?s=400&v=4"
				width="300" height="300">
			</a>
			<br>
			Κωνσταντίνος Μητρόπουλος - 03113169
			<br>
		</p>
		<p>
			<a href="https://github.com/loniasgr/"> <img style="border-radius: 50%" border="0" alt="leo"
				src="https://avatars3.githubusercontent.com/u/15968096?s=400&v=4"
				width="300" height="300">
			</a>
			<br>
			Λεωνίδας Αβδελάς - 03113182
			<br>
		</p>
		<p>
			<a href="https://github.com/jezulas/"> <img style="border-radius: 50%" border="0"
				alt="chris"
				src="https://avatars3.githubusercontent.com/u/26692319?s=400&v=4"
				width="300" height="300">
			</a>
			<br>
			Χρήστος Στυλιανίδης - 03113130
			<br>
		</p>
		<p>
			<a href="https://github.com/philorfa/"> <img style="border-radius: 50%" border="0"
				alt="phil"
				src="https://avatars1.githubusercontent.com/u/18222458?s=400&v=4"
				width="300" height="300">
			</a>
			<br>
			Φίλιππος Ορφανουδάκης - 03113140
			<br>
		</p>
	</div>
</div>

