<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2 class="section-headline">
        <span> Who are we? </span>
      </h2>
    </div>
    <div class="col-sm-4">
      <img src="../../../assets/logo.png" class="img-fluid logo">
    </div>
    <img src="../../../assets/background.png" class="img-fluid background">
  </div>
  <h3 class="text-center">The Candyland Team</h3>
  <hr style="width: 50%;" />
  <br />
  <div style="text-align: center">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <a href="https://github.com/georgebax/">
            <img  border="0" alt="gbax" src="https://avatars1.githubusercontent.com/u/19195396?s=400&v=4" width="300"
              height="300" class="card-img-top person">
          </a>
          <div class="card-body">
            <p class="card-text text-center">Γιώργος Μπαξόπουλος
              <br/>AM: 03113021</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <a href="https://github.com/klauscfhq/">
            <img border="0" alt="klaus" src="https://avatars2.githubusercontent.com/u/12670537?s=400&v=4"
              width="300" height="300" class="card-img-top person">
          </a>
          <div class="card-body">
            <p class="card-text text-center">Κλαούντιο Σινάνι
              <br/>AM: 03113623</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <a href="https://github.com/tsikos7/">
            <img border="0" alt="tsikos" src="https://avatars0.githubusercontent.com/u/24499401?s=400&v=4"
              width="300" height="300" class="card-img-top person">
          </a>
          <div class="card-body">
            <p class="card-text text-center">Κωνσταντίνος Μητρόπουλος
              <br/>AM: 03113169</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <a href="https://github.com/loniasgr/">
            <img border="0" alt="leo" src="https://avatars3.githubusercontent.com/u/15968096?s=400&v=4" width="300"
              height="300" class="card-img-top person">
          </a>
          <div class="card-body">
            <p class="card-text text-center">Λεωνίδας Αβδελάς
              <br/>AM: 03113182</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <a href="https://github.com/jezulas/">
            <img border="0" alt="chris" src="https://avatars3.githubusercontent.com/u/26692319?s=400&v=4"
              width="300" height="300" class="card-img-top person">
          </a>
          <div class="card-body">
            <p class="card-text text-center">Χρήστος Στυλιανίδης
              <br/>AM: 03113130</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <a href="https://github.com/philorfa/">
            <img border="0" alt="phil" src="https://avatars1.githubusercontent.com/u/18222458?s=400&v=4" width="300"
              height="300" class="card-img-top person">
          </a>
          <div class="card-body">
            <p class="card-text text-center">Φίλιππος Ορφανουδάκης
              <br/>AM: 03113140</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
