<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2 class="section-headline">
        <span>
          Frequently Asked Questions
        </span>
      </h2>
    </div>
    <div class="col-sm-4">
      <img src="../../../assets/logo.png" class="img-fluid" style="width:400px; z-index:2;">
    </div>
      <img src="../../../assets/background.png" class="img-fluid" style="width: 65%; position: absolute; margin-top: 90px; z-index:-2;">
  </div>
  <h3 class="text-center">FAQ</h3>
  <hr style="width: 50%;"/>
  <br/>
  <h2>Question #1</h2>
  <div>Answer #1</div>
  <h2>Question #2</h2>
  <div>Answer #2</div>
  <h2>Question #3</h2>
  <div>Answer #3</div>
</div>

