<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<p>Dear <span th:text="${user.firstName}"></span>,</p>
<br/>
<p>Thank you for booking through Candyland. We hope you enjoyed using our platform.</p>
<p>Your order number is: <strong>#<span th:text="${order.id}"></span></strong>. Here are your order details:</p>
<h2>Order #<span th:text="${order.id}"></span> Details</h2>
<hr/>

<h3><strong>Order Summary</strong></h3>
<table>
    <thead>
        <tr>
            <td><strong>Event</strong></td>
            <td class="text-center"><strong>Price</strong></td>
            <td class="text-center"><strong>Tickets</strong>
            </td>
            <td class="text-right"><strong>Total</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="cartItem : ${cartItemList}">
            <td><span data-th-text="${cartItem.event.name}"></span>
            </td>
            <td data-th-text="${cartItem.event.price}"
                class="text-center">
            </td>
            <td data-th-text="${cartItem.qty}" class="text-center">

            </td>
            <td data-th-text="${cartItem.subtotal}"
                class="text-right">
            </td>
        </tr>
    </tbody>
</table>
<br/>
<p>Forever yours,</p>
<p>the Candyland team</p>
</body>
</html>
