<div class="container">
    <div [hidden]="eventAdded">
        <h3 style="margin-top: 30px;">Πληροφορίες Νέας Εκδήλωσης
        </h3>

        <form (ngSubmit)="onSubmit()">
            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="name" type="text"  [(ngModel)]="newEvent.name" name="title" placeholder="Όνομα Εκδήλωσης">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="address" type="text"  [(ngModel)]="newEvent.address" name="address" placeholder="Διεύθυνση">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="zipcode" type="text"  [(ngModel)]="newEvent.zipcode" name="zipcode" placeholder="ΤΚ">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="startDate" type="date"  [(ngModel)]="newEvent.startDate" name="startDate" placeholder="Ημερομηνία Έναρξης">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="endDate" type="date"  [(ngModel)]="newEvent.endDate" name="endDate" placeholder="Ημερομηνία Λήξης">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="startTime" type="time"  [(ngModel)]="newEvent.startTime" name="startTime" placeholder="Ώρα Έναρξης">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="endTime" type="time"  [(ngModel)]="newEvent.endTime" name="endTime" placeholder="Ώρα Λήξης">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="minAge" min="1" type="number" [(ngModel)]="newEvent.minAge" name="minAge" step="1"  placeholder="Ελάχιστη Ηλικία">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="maxAge" min="1" type="number" [(ngModel)]="newEvent.maxAge" name="maxAge" step="1"  placeholder="Μέγιστη Ηλικία">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <mat-select  placeholder="Category" id="category" [(ngModel)]="newEvent.category" name="category">
                            <mat-option value="Αθλητικά">
                                Αθλητικά
                            </mat-option>
                            <mat-option value="Μουσική">
                                Μουσική
                            </mat-option>
                            <mat-option value="Εκπαίδευση">
                                Εκπαίδευση
                            </mat-option>
                            <mat-option value="Σινεμά">
                                Σινεμά
                            </mat-option>
                            <mat-option value="Θέατρο">
                                Θέατρο
                            </mat-option>
                            <mat-option value="Άλλο">
                                Άλλο
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="price" min="0.01" type="number" [(ngModel)]="newEvent.price" name="price" step="0.01"  placeholder="Τιμή">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <input matInput id="availableTickets" min="0" type="number" [(ngModel)]="newEvent.availableTickets" name="availableTickets"
                            step="1"  placeholder="Διαθέσιμα Εισιτήρια">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    &nbsp;
                    <mat-slide-toggle [color]="color" [checked]="checked" [disabled]="disabled" [(ngModel)]="newEvent.active" name="active">Ενεργός</mat-slide-toggle>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-form-field>
                <textarea matInput id="description" [(ngModel)]="newEvent.description" name="description" placeholder="Περιγραφή" ></textarea>
            </mat-form-field>
            Εικόνα: &nbsp;
            <input id="tile" type="file" id="eventImage" name="eventImage" (change)="uploadImageService.fileChangeEvent($event)">
            <br>
            <br>

            <mat-grid-list cols="20" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <button class="mat-primary" mat-raised-button type="submit">Προσθήκη</button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <a class="mat-warn" mat-raised-button routerLink="/">Ακύρωση</a>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </div>
    <div class="row" [hidden]="!eventAdded">
        <h3>Εκδήλωση δημιουργήθηκε με επιτυχία!</h3>
        <button (click)="refresh()" class="mat-primary" mat-raised-button type="submit">Πρόσθεσε και άλλη εκδήλωση!</button>
    </div>
</div>
